<h1>Menu Session</h1>
<li class="list-group-item">
    <a asp-controller="Empleados" asp-action="SessionSalarios" class="btn btn-primary">
        Almacenar Salario
    </a><br />
    <a asp-controller="Empleados" asp-action="SumaSalarial" class="btn btn-warning">
        Suma Salarial
    </a><br />
    <a asp-controller="Empleados" asp-action="SessionEmpleados" class="btn btn-primary">
        Almacenar Empleados
    </a><br />
    <a asp-controller="Empleados" asp-action="SessionEmpleadosOk" class="btn btn-outline-primary">
        Almacenar IDS Empleados
    </a><br/>
    <a asp-controller="Empleados" asp-action="EmpleadosAlmacenadosOk" class="btn btn-warning">
        Empleados almacenados
    </a><br />
    <a asp-controller="Empleados" asp-action="SessionEmpleadosV4" class="btn btn-outline-danger">
        Almacenar IDS Empleados
    </a><br />
    <a asp-controller="Empleados" asp-action="EmpleadosAlmacenadosV4" class="btn btn-danger">
        Empleados almacenados
    </a><br />
    <a asp-controller="Empleados" asp-action="SessionEmpleadosV5" class="btn btn-outline-dark">
        Almacenar IDS Empleados V5
    </a><br />
    <a asp-controller="Empleados" asp-action="EmpleadosAlmacenadosV5" class="btn btn-dark">
        Empleados almacenados V5
    </a><br />
</li>